<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xinyo.subtitle.mapper.SubtitleMapper">
    <update id="plusDownloadTimes">
        update subtitle set download_times = ifnull(download_times, 0) + 1
        where id = #{subtitleId}
    </update>
    <select id="listMovieWithWeightBySubjectId" resultType="org.xinyo.subtitle.entity.Subtitle">
        select * from subtitle sbt
        where sbt.subject_id = #{subjectId}
        order by sbt.weight asc
        limit 8
    </select>
</mapper>
