<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xinyo.subtitle.mapper.UpdataLogMapper">
    <update id="emptyPosterUpdateTime">
        update douban_update_log set poster_update_time = null where subject_id = #{subjectId}
    </update>
</mapper>
